<%- include('../../Partials/Headers') %>
<body class="dashboard w-full flex overflow-hidden">
  <!-- desktop and large screens aside -->
  <%- include('../../partials/Desktop_aside') %>
  <!-- main section of page -->
  <main class="w-full overflow-hidden">
    <%- include('../../partials/MainHeader') %>

    <!-- main section -->
    <section
      class="Dashboard_section w-[98%] m-auto mt-2 overflow-auto h-screen"
    >
      <!-- top Title bar -->
      <div class="titleBar flex items-center gap-2 my-5">
        <ion-icon name="home" class="text-[13px] text-gray-500"></ion-icon>
        <h1 class="text-[13px] text-gray-500">/</h1>
        <h1 class="text-[13px] text-gray-500" id="locationUrl"></h1>
      </div>
      <% if(orderList.length == 0){ %>
      <div
        class="no_user_registered w-full h-max justify-center items-center flex flex-col"
      >
        <img src="/Assets/noOrders.png" alt="" />
        <h1 class="text-[12px] text-gray-500">No Orders found yet</h1>
      </div>
      <% } else{ %>

      <table id="allData" class="w-full shadow">
        <thead class="bg-slate-100 font-medium capitalize">
          <tr>
            <td class="py-3 px-2 text-[14px]">ID</td>
            <td class="py-3 px-2 text-[14px]">image</td>
            <td class="py-3 px-2 text-[14px]">Product_name</td>
            <td class="py-3 px-2 text-[14px]">price</td>
            <td class="py-3 px-2 text-[14px]">Ordered user</td>
            <td class="py-3 px-2 text-[14px]">category</td>
            <td class="py-3 px-2 text-[14px]">time Ordered</td>
            <td class="py-3 px-2 text-[14px]">Accept</td>
            <td class="py-3 px-2 text-[14px]">More</td>
          </tr>
        </thead>
        <tbody class="capitalize">
          <% orderList.forEach(c => { %>
          <tr class="border-b border-slate-200 hover:bg-slate-50">
            <td class="py-3 px-2 text-[14px]"><%= c.id %></td>
            <td class="py-3 px-2 text-[14px]">
              <img
                src="<%= c.cover_Image %>  %>"
                alt="icon-image"
                class="w-[20px] h-[20px] border border-gray-300 shadow"
              />
            </td>
            <td class="py-3 px-2 text-[14px]"><%= c.Product_name %></td>
            <td class="py-3 px-2 text-[14px]">$<%= c.price %></td>
            <td class="py-3 px-2 text-[14px]"><%= c.full_name %></td>
            <td class="py-3 px-2 text-[14px]"><%= c.category_name %></td>
            <td class="py-3 px-2 text-[14px]"><%= c.time %></td>
            <td class="py-3 px-2 text-[14px]">
              <a href="#">
                <ion-icon
                  name="swap-vertical-outline"
                  onclick="accept(`<%=c.id%>`,`<%=c.full_name%>`)"
                  class="text-[18px] text-green-800 cursor-pointer group-hover:name-create"
                ></ion-icon>
              </a>
              <a href="#">
                <ion-icon
                  name="list-outline"
                  onclick="MoreInfo(`<%=c.id%>`)"
                  class="text-[18px] text-green-800 cursor-pointer group-hover:name-create"
                ></ion-icon>
              </a>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <% } %>
    </section>
  </main>
</body>

<!-- ionIcons link -->
<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>

<script>
  let locationUrl = document.getElementById("locationUrl");
  let path = window.location.pathname;
  console.log(locationUrl);
  locationUrl.innerText = path.replace("/", "");
</script>
